{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
      "no-console": "off",
      "no-undef": 0,
      "no-nested-ternary": 0,
      "no-lonely-if": 0,
      "react/prefer-stateless-function": "off",
      "react/destructuring-assignment": 0,
      "react/no-access-state-in-setstate": 0,
      "react/no-array-index-key": 0,
      "react/button-has-type": 0,
      "no-case-declarations": 0,
      "no-shadow": 0,
      "no-use-before-define": 0,
      "no-param-reassign": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "react/no-unused-state": 0,
    "react/state-in-constructor": 0,
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": [1, "absolute-first"],
    "import/newline-after-import": "error",
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "react/jsx-props-no-spreading": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}