@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .titleLogin {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(94, 94, 175);
  }
  .link {
    text-align: center;
    margin-top: 10px;
  }
  .avt {
    text-align: center;
    padding: 60px;
  }

  .btnUpload {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(116, 230, 116);
    border: 2px solid rgb(13, 175, 13);
    border-radius: 10px;
    font-weight: bold;
    color: #d11401;
    margin-left: 5px;
  }
  .btnUpload:hover {
    color: #801208;
  }

  .imgPrev {
    margin-bottom: 20px;
  }

  .btnPrev {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: rgba(238, 80, 80, 0.61);
    border: 2px solid rgba(163, 9, 9, 0.61);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
  }
  .btnPrev:hover {
    color: rgb(226, 225, 225);
  }

  .previewText {
    color: red;
    font-weight: bold;
  }

  /* 
  .custom-input {
    color: transparent;
  }
  .custom-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-input::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-input:hover::before {
    border-color: black;
  }
  .custom-input:active {
    outline: 0;
  }
  .custom-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
  
  body {
    padding: 20px;
  } */

  .file {
    position: relative;
    margin-top: 10px;
  }
  .file label {
    background: #39d2b4;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    transition: all 0.4s;
  }
  .file label:hover {
    cursor: pointer;
  }
  .file input {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    opacity: 0.01;
    cursor: pointer;
  }
  .file input:hover + label,
  .file input:focus + label {
    background: #34495e;
    color: #39d2b4;
  }
}
