.doashboard {
  text-align: center;
  margin: 200px 0px;
}

.titleGame {
  color: rgb(94, 94, 175);
}

.btnDoashboard {
  margin: 10px;
  padding: 5px;
  border: solid 1px black;
  background: white;
  width: 150px;
  height: 40px;
}

.btnDoashboard:hover {
  background: rgb(250, 249, 249);
  font-weight: bold;
}
